:root{
    --text-color: #ffffff;
    --accent-color: #cccc00;
    --background-colortext: #5F9600;
    --background-colorbutton: #5F9600;
    --main-colortext-form: #333333;
    --form-colortext: #5F9600;
    --link-accenticon: #ffffff;
}

.head-body{
    background-color: #000000;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.wrapper .section + .section {
    margin-left: 40px;
}

.title {
    color: var(--text-color);
    font-weight: 700;
    margin: 0px;
}

.link {
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
}

.list {
    list-style: none;
    margin: 0px;
    padding-left: 0px;
}

.text {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    margin: 0px;
}

.viber-link .icon,
.whatsapp-link .icon,
.telegram-link .icon {
    fill: currentColor;
}


/* ________________________HEADER */
.header-content{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 121px;
}

.header-list .whatsapp-link {
    color: #43d854;
}

.header-list .telegram-link {
    color: #08c;
}

.header-list .viber-link {
    color: #7360f2;
}


.header-list .link:hover,
.header-list .link:focus {
    color: var(--link-accenticon);
}

.header-list,
.link-phone {
    display: flex;
}

.header-list {
    justify-content: end;
}

.link-phone .text{
    align-self: center;
    margin-left: 5px;
}

.header-list .item:not(:nth-child(n + 3)) {
    margin-right: 15px;
}

.header-list .item:nth-child(3n) {
    margin-right: 113px;
}

/* ______________________Experience section*/
.my-photo {
    margin-bottom: 35px;
    border-radius: 100%;
}

.fbandin-list {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

.fbandin-list .link {
    display: block;
    border-radius: 50%;
    padding: 10px;
}

.fbandin-list .link:hover,
.fbandin-list .link:focus {
    background-color: var(--accent-color);
}


.fbandin-list .item + .item {
    margin-left: 28px;
}

.fbandin-list .icon {
    display: block;
}

.experience-description {
    margin-bottom: 45px;
}

.experience-description .text {
    text-align: center;
}

.technologies-list {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.technologies-list .item + .item {
    margin-left: 40px;
}

.myprojects-link{
    display: flex;
    justify-content: center;
}

.myprojects-link:hover,
.myprojects-link:focus {
    color: #F60C36;
    text-decoration: underline;
}


/* ______________________My info section */
.info-div {
    margin-bottom: 110px;
}

.hellow-text {
    margin-bottom: 35px;
}

.main-title {
    font-size:  48px;
    line-height: 1;
    margin-bottom: 50px;
}

.group-text {
    background-color: var(--background-colortext);
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    padding: 6px 5px 6px 5px;
}

.fornorm-bg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
}

.master-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.text-ican {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.skills-list .item {
    color: var(--background-colortext);
    list-style: disc;
}

.skills-list .item:not(:nth-last-child(1)) {
    margin-bottom: 5px;
}

/* ________________________Project price */
.project-price-form {
    min-width: 395px;
    background: #ffffff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.14);
    border-radius: 24px;
    margin-left: 17px;
    padding: 20px 33px 55px 44px;   
}

.project-price-text {
    font-weight: 700;
    color: var(--form-colortext);
    text-align: center;
    margin-bottom: 55px;
}

.project-type-conainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}

.project-price-form-file-title{
    font-weight: 700;
    color: var(--main-colortext-form);
    margin-bottom: 20px;
}

.select {
    font-family: inherit;
    color: var(--main-colortext-form);
    border: none;
    border-bottom: 1px solid #000000;
    padding-bottom: 10px;
}

.checkbox-box {
    margin-bottom: 30px;
}

.typeofwork:not(:nth-last-child(1)) {
    margin-bottom: 20px;
}

.label-typeofwork {
    font-size: 16px;
    line-height: 1.5;
}

.label-typeofwork:nth-child(n + 1) {
    margin-left: 10px;
}

.price {
    color: var(--main-colortext-form);
    font-weight: 700;
    margin-bottom: 20px;
}


.usd{
    color: var(--form-colortext);
    font-weight: 700;
    margin-right: 16px;
}

.currency{
    color: var(--main-colortext-form);
    margin-bottom: 10px;
}

.button-div {
    display: flex;
    justify-content: center;
}

.button-send {
    color: var(--text-color);
    background-color: var(--background-colorbutton);
    cursor: pointer;
    font-weight: 700;
    line-height: 1.5;
    border-radius: 14px;
    border: 0px;
    padding: 10px 35px 10px 35px;
}

/* Model_1 */

.modal-bgd{

    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgb(51 51 51 / 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;

    transition: opacity 0.3s ease-in-out;
}


.modal-active{

    pointer-events: all;
    opacity: 1;
}


.modal-container{

    width: 412px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.14);
    border-radius: 24px;
    padding: 110px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-sizing: border-box;

}


.cross-icon-button{

    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    position: absolute;
    top: 16px;
    right: 16px;
}


.mail-icon{

    width: 24px;
    height: 24px;
    margin-bottom: 48px;

}

.modle-title{

    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 58px;
}


.modle-container-form{

    display: flex;
    flex-direction: column;
}

.email-input-conainer{

    height: 115px;
}

.user-email-lable{

    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    
}


.user-email-input{
    
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    border: none;
    border-bottom: 1px solid #333333;
    font-size: 16px;
    line-height: 28px;
    color: #333333;
}


.email-error-text{

    font-size: 16px;
    line-height: 24px;
    color: #F70C36;
    display: none;
}

.email-input-error-conainer .email-error-text{

    display: block;
}


.email-iput-error-conainer .user-email-input{

    border-bottom: 1px solid #F70C36;
    font-size: 16px;
    line-height: 28px;
}


.button-email{

    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #5F9600;
    border-radius: 14px;
    border: none;
    outline: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px 8px 24px;
    margin: 118px 86px 0px 86px;
    cursor: pointer;   
}


/* Modle_2 */

.modal-success-massage{

    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-top: 50px;
}

.smile-icon{

    margin-top: 180px;
}